body{
    font-family: 'Rajdhani', sans-serif;
    background-color: aquamarine;
}
h1{
    text-align: center;
}
.one{
    color:red;
    font-size: 50px;
    font-weight: 700;
}
.first{
    padding:15px 25px;
    background-image: linear-gradient(black,gray) ;
    border-radius: 10px;
    color:pink;
}
.flexible-container{
    display:flex;

}
.text{
 width:50%;
 padding-right:40px;
 padding-left: 10px;   
}
.img{
    width:50%;
    padding-left: 10px;
    padding-top: 30px;
}
.img img{
    width:70%;
}