body{
    font-family: 'Dosis', sans-serif;
}
h1{
    font-size: 40px;
    color:lawngreen;
}
.name{
    color:red;
    font-size: 50px;
}
.box{
    text-align: center;
    background-image: url(images/background/Frame\ 58.jpg);
    height:200%
 ;
}
.logo{
    width:20%;
    height: 30%;
}
.all{
    padding-top: 10px;
    padding-bottom: 10px;
}